*:focus
{
    outline: none;
}
body
{
    font-family: monospace;
    font-size: 20px;
    background-color: black;
    text-align: left;
    color: white;
    overflow-y: scroll;
}
#save
{
    display: flex;
    border: 2px solid white;
    text-align: center;
    margin: 40px 0 80px 0;
}
.diffs
{
    display: flex;
    border: 2px solid white;
    text-align: center;
    margin: 0 0 20px 0;
}
#list
{
    border: 2px solid white;
}
.chart
{
    display: flex;
    text-align: center;
}
.stat
{
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-align: center;
}
button
{
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
button:hover
{
    background-color: purple!important;
    background-image: none!important;
    color: cyan;
    cursor: pointer;
}
.clickable:hover
{
    background-color: purple!important;
    background-image: none!important;
    color: cyan;
    cursor: pointer;
}
#sort
{
    border: 2px solid white;
    margin: 60px 0 120px 0;
    display: flex;
    text-align: center;
}
#sort > button
{
    margin: 0;
    border: 2px solid white;
    flex-grow: 1;
}
.lv
{
    width: 48px;
}
.name
{
    flex: 1 0 0;
}
.notes
{
    width: 60px;
}
.crits
{
    width: 84px;
}
.score
{
    width: 84px;
}
.ct
{
    width: 36px;
}
.rate
{
    width: 60px;
}
.ex
{
    width: 60px;
}
.perc
{
    width: 72px;
}
.xrate
{
    width: 48px;
}
.index
{
    width: 24px;
}
.diffs > button
{
    margin: 0;
    border: 2px solid white;
    flex: 1 0 0;
}
#save > button
{
    margin: 0;
    border: 2px solid white;
    flex-grow: 1;
}
#info
{
    margin: 80px 0;
}
#pref4
{
    border: none;
    cursor: default;
}
#stats
{
    text-align: center;
    margin: 40px 0 80px 0;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}
#stats > div
{
    display: flex;
}
#stats > div > span
{
    padding: 10px 20px;
    border: 2px solid white;
    width: 48px;
}
.total
{
    flex-grow: 1;
}
#tabs
{
    display: flex;
    border: 2px solid white;
    text-align: center;
    margin: 40px 0 120px 0;
}
#tabs > button
{
    margin: 0;
    border: 2px solid white;
    flex-grow: 1;
}
#info
{
    margin: 40px 0 80px 0;
}
#lax
{
    display: flex;
    text-align: center;
    margin: 40px 0 0 0;
}
#lax > *
{
    margin: 0;
    flex-grow: 1;
}
#rt
{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
}
#rt > div
{
    display: flex;
}
#rt > div > span
{
    border: 2px solid white;
    padding: 10px 20px;
    width: 144px;
}
#b40
{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    margin: 120px 0;
}
#b40 > div
{
    display: flex;
}
#b40 > div > span
{
    border: 2px solid white;
    padding: 10px 20px;
}